<div id="content">
  <article class="article-item">
    <div class="title-box">
      <p class="title"><a href="#">{{article.title}}</a></p>
      <div class="post-info-box">
        <span class="post-info">
                <span><i class="glyphicon glyphicon-user"></i> {{article.author}}</span>
        <span><i class="glyphicon glyphicon-time"></i> {{article.createdTime}}</span>
        <span><i class="glyphicon glyphicon-comment"></i> {{article.reviews}}</span>
        </span>
        <span class="tag"><i class="glyphicon glyphicon-tag"></i><a href="/{{cate.urlName}}"> {{cate.title}}</a></span>
      </div>
    </div>
    <div class="summary">{{article.content}}</div>
  </article>
  <div class="next-article">
    <p>本篇文章阅读完毕</p>
    {{#if adjacent.prev}}
    <a href="{{adjacent.prev._url}}" class="pull-left" title="{{adjacent.prev.title}}">&laquo; 上一篇</a>
    {{else}}
    <span class="pull-left">无</span>
    {{/if}}
    {{#if adjacent.next}}
    <a href="{{adjacent.next._url}}" class="pull-right" title="{{adjacent.next.title}}">下一篇 &raquo;</a>
    {{else}}
    <span class="pull-right">无</span>
    {{/if}}
    <div class="clearfix"></div>
  </div>
  <div class="article-list">
    <p class="title-1-bd"><span>{{cate.title}}</span>分类下的其它文章</p>
    <ul class="list">
      {{#related}}
      <li>
        <span class="mr10">{{createdTime}}</span>
        <a href="{{_url}}">{{title}}</a>
      </li>
      {{/related}}
      <li><a href="/{{cate.urlName}}">所有文章 (共{{cateArticleCount}}篇) &raquo;</a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>

{{#if article.reviewable}}
{{> _review_form}}
{{/if}}
<!--end #content-->

<script>
  vueComponent.reviewForm();
</script>