<div id="right">
  <div class="clearfix"></div>
</div>
<div id="content" class="homepage-content">
  <div class="article-list">
    <p class="title-1-bd">{{cate.title}}</p>
    <ul class="list">
      {{#articles}}
      <li>
        <span class="pull-right t-gray"><i class="glyphicon glyphicon-comment"></i> {{reviews}}</span>
        <span class="mr10">{{createdTime}}</span>
        <a href="{{_url}}">{{title}}</a>
      </li>
      {{/articles}}
      
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<!--end #content-->